<footer>

    <div class="brand_footer">
      <p class="my-brand-nav"><a href="#" class="logo">Keto <span>Gourmet</span></a></p>
    </div>
    <div class="navigation-footer">
      <div class="col_contact">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-twitch"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
      </div>
      <div class="footer-links">
        <div>Subscribe | Unsubscribe</div>
        <div>Contact-us</div>
        <div>About</div>
      </div>
    </div>
    <div class="row_copyright">
      <p>MIT Copyrights | Made with <i class="fas fa-heart"></i> by Houda Cherkaoui</p>
    </div>

</footer>