<footer>

    <div class="col_subscribe">
      <p>Subscribe to our newsletter</p>
    </div>
    <div class="col_contact">
      facebook, linkedin
    </div>
    <div class="col_about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, corporis?
    </div>
    <div class="row_copyright">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus architecto impedit eveniet nesciunt sed quaerat.
    </div>

</footer>