<section class="hero_section">
  <div class="hero_container">
    <div class="hero_article">
      <div class="hero_rubric"><span>Read in Vegan</span></div>
      <h1 class="hero_title">Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>
      <p class="hero_subtitle">Lorem, ipsum dolor.</p>
    </div>
    <div class="hero_separator"></div>
    <div class="hero_article_second">
      <div class="rubric">Read in Beaking</div>
      <h3 class="hero_title_second">Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="hero_separator"></div>
    <div class="hero_article_second">
      <div class="rubric">Read in Healthy</div>
      <h3 class="hero_title_second">Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="hero_separator"></div>
    <div class="new_release">
      <span class="number">+12 </span> <span class="release">New Recipes</span>
    </div>
  </div>
</section>