<section class="hero_section">
  <div class="hero_container">
    <div class="hero_article">
      <div class="hero_rubric">Vegan</div>
      <h1>Lorem, ipsum dolor sit amet consectetur adipisicing.</h1>
      <p class="subtitle">Lorem, ipsum dolor.</p>
    </div>
    <div class="separator"></div>
    <div class="article">
      <div class="rubric">Beaking</div>
      <h3>Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="separator"></div>
    <div class="article">
      <div class="rubric">Beaking</div>
      <h3>Lorem ipsum dolor sit amet.</h3>
    </div>
    <div class="separator"></div>
    <div class="new_release">
      <span class="number">+ 12</span> <span class="release">Added recipe</span>
    </div>
  </div>
</section>