@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Palette */
// $my_dark_main: #0A164E;
$my_dark_main: #1b2d38;
$my_light_second: #2EB641;
$tangerine: #da4221;
$my-light-blue: #2ab2c0;
$text-dark: #272727;
$classic-blue: #0f4c81;
$font_text: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font_text: 'Open Sans', sans-serif;
$font_logo: 'Playfair Display', serif;
$font_logo_keto: 'Playfair Display', serif;
$font_article_title: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@keyframes fading {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
/* navigation */

.myheader {
  width: 100%;
  margin: 0;
  padding: 0.3rem 0.1rem 0.8rem 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $my_dark_main;
  position: fixed;
  z-index: 4000;
  a {
    text-decoration: none;
  }
}

.my-brand-nav {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 2rem;
  // font-family: 'Playfair Display', serif;
  font-weight: 900;
  overflow: hidden;
}

.logo {
  font-size: inherit;
  overflow: hidden;
  text-decoration: none !important;
  color: $my_light_second;
  font-family: $font_logo_keto !important;

  &:hover {
    color: $my_light_second;
  }

  span {
    font-family: $font_logo;
    color: whitesmoke;
  }
}

.my-nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.my-nav-list {
  list-style: none;
  margin: 0;
  display: none;
}

.nav-list__item {
  padding: 0.8rem 0.9rem;
}

.nav-list__link {
  font-size: 0.9rem;
  // font-family: "Ramabhadra", sans-serif;
  // font-family: 'Playfair Display', sans-serif;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 0.938px;
  line-height: 23px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.nav-list__link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform ease-in-out 0.5s;
}

.nav-list__link:hover {
  color: white;
  animation: fading 1s ease-out 0s;
}

.nav-list__link:hover::after {
  transform: scale(1, 1);
}

.my-hamburger-btn {
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.my-hamburger-btn .hamburger-btn__line {
  width: 2.5rem;
  height: 3px;
  background-color: $my_light_second;
  border-radius: 3px;
  cursor: pointer;
}

.my-hamburger-btn .hamburger-btn__line::before,
.my-hamburger-btn .hamburger-btn__line::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 3px;
  background-color: $my_light_second;
  border-radius: 3px;
  cursor: pointer;
}

.my-hamburger-btn .hamburger-btn__line::before {
  transform: translateY(-9px);
}

.my-hamburger-btn .hamburger-btn__line::after {
  transform: translateY(9px);
}

@media screen and (min-width: 1160px) {
  .myheader {
    flex-direction: row;
  }
}

@media screen and (min-width: 810px) and (max-width: 1160px) {
  .myheader {
    flex-direction: column;
  }

  .my-nav-wrapper {
    margin-top : 0.8rem;
  }

  .my-nav-list {
    display: flex;
  }
}

@media screen and (min-width: 1160px) {
  .my-nav-list {
    display: flex;
  }
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .myheader {
    flex-direction: row;
  }

  .my-nav-wrapper {
    margin: 1rem;
  }


  .my-brand-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    overflow: hidden;
  }
}

@media screen and (max-width: 419px) {
  .myheader {
    flex-direction: row;
  }
  .my-brand-nav {
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    overflow: hidden;
  }
}

/* Footer */

footer {
  height: 10vh;
  background-color: $my_dark_main;
  color: white;
  font-size: 0.9rem;
  font-family: $font_text ;
  overflow: hidden;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: [row1-start] 2fr [row1-end row2-start] 1fr [row2-end];
  grid-template-areas: 
    "brand navigation navigation"
    "copyright copyright copyright";
  column-gap: 1rem;
  row-gap: 1rem;
}


.brand_footer {
  grid-area: brand;
  overflow: hidden;
}

.my-logo-footer {
  padding-left: 1.3rem;
  padding-right: 1rem;
  font-size: 1.3rem;
  // font-family: 'Playfair Display', serif;
  font-weight: 800;
  overflow: hidden;
}

.navigation-footer {
  grid-area: navigation;
  overflow: hidden;
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
    "follow links";
  column-gap: 0.3rem;

  .col_contact {
    grid-area: follow;
    place-self: center;
    i {
      font-size: 0.9rem;
      padding: 0.3rem;
    }
  }

  .footer-links {
    grid-area: links;
    place-self: center;
    display: inline-flex;
    div {
      padding: 0.5rem;
    }
  }

}

.row_copyright {
  grid-area: copyright;
  // align-self: center;
  place-self: center;
  font-size: 0.7rem !important;
  i {
    color: $tangerine;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 810px) {
  footer {
    height: 15vh;
    font-size: 0.7rem;
    overflow: hidden;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 2fr [row2-end row3-start] 1fr[row3-end];
    grid-template-areas: 
      "brand"
      "navigation"
      "copyright";
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .brand_footer {
    grid-area: brand;
    place-self: center;
    overflow: hidden;
  }

  .my-logo-footer {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    // font-family: 'Playfair Display', serif;
    font-weight: 700;
  }

  .navigation-footer {
    grid-area: navigation;
    overflow: hidden;
    justify-self: center;
    display: flex;
    flex-direction: column;

    .col_contact {
      justify-self: center;
      i {
        font-size: 0.9rem;
        padding: 0.3rem;
      }
    }

    .footer-links {
      justify-self: center;
      display: inline-flex;
      div {
        padding: 0.5rem;
      }
    }

  }

  .row_copyright {
    grid-area: copyright;
    // align-self: center;
    place-self: center;
    font-size: 0.5rem !important;
    i {
      color: $tangerine;
      padding: 0;
      margin: 0;
    }
  }
}

/* Home page */

.hero_section {
  max-height: 100vh;
  background: url(asset_path("hero_background.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
    grid-template-columns: auto 46%;
    grid-template-rows: auto;
    grid-template-areas: 
      ". container";
  z-index: -2;
}

.hero_container {
  margin: 0;
  padding: 6rem 4.5rem 2rem 4.5rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-area: container;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    filter: blur(20px);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.hero_article {
  .hero_rubric {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 2rem;
    padding-top: 1rem;
    span {
      padding: 0.5rem;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      color: $my_light_second;
      border: $my_light_second 3px solid;
      border-radius: 2px;
    }
  }

  .hero_title {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: white;
  }

  .hero_subtitle {
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-family: $font_text;
    font-weight: 500;
    color: lighten($color: $my_light_second, $amount: 40%);
  }

}

.hero_separator{
  width: 100%;
  height: 5px;
  background-color: lighten($color: $my_light_second, $amount: 40%);
  opacity: 0.4;
  border-radius: 5px;
}

.hero_article_second {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  .rubric {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: $my_light_second;
  }

  .hero_title_second {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-family: $font_text;
    font-weight: 700;
    color: lighten($color: $my_light_second, $amount: 55%);
  }
}

.new_release {
  text-align: center;
  padding-top: 3rem;

  font-family: $font_text;
  opacity: 0.6;

  .number {
    font-size: 3.5rem;
    color: lighten($color: $my_light_second, $amount: 30%);
  }

  .release {
    font-size: 3rem;
    color: whitesmoke;
  }
}


@media screen and (min-width: 810px) and (max-width: 1160px) {
  .hero_section {
    display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        "container";
  }

  .hero_container {
    padding-top: 10rem;
  }
}

@media screen and (max-width: 809px) {
  .hero_section {
    max-height: 60vh;
    display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "."
        "container";
  }

  .hero_container {
    margin: 0;
    padding: 1rem;
    grid-area: container;
  }

  .hero_article {
    .hero_rubric {
      padding: 0.9rem 0 0.9rem 0;
      span {
        padding: 0.5rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        color: $my_light_second;
      }
    }
  
    .hero_title {
      padding-top: 0.8rem;
      padding-bottom: 0.5rem;
      font-size: 1.9rem;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      color: white;
    }
  
    .hero_subtitle {
      padding-top: 0.3rem;
      padding-bottom: 0.5rem;
      font-size: 1rem;
      font-family: $font_text;
      font-weight: 400;
      color: lighten($color: $my_light_second, $amount: 40%);
    }
  
  }

  .hero_article_second {
    display: none;
  }

  .hero_separator {
    display: none;
  }

  .new_release {
    display: none;
  }
}

/* sections globals*/

.section_title {
  font-size: 1.3rem;
  font-family: $font_logo_keto;
  font-weight: 700;
  color: $my_dark_main;
  span {
    padding: 0 1rem;
    background-color: $my_light_second;
    margin-right: 0.5rem;
  }
}

/* Latest articles section */

.latest_articles {
  padding: 3rem 0 2rem 0;
}

.latest_articles_container {
  // background-color: $tangerine;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
      "article article article aside"
      "recipe video tag aside";
  column-gap: 1.5rem;
  row-gap: 1rem;
  justify-items: stretch;
}


@media screen and (max-width: 809px) {
  .latest_articles_container {
    display: flex;
    flex-direction: column;
  }
}

.latest_article {
  grid-area: article;

  .latest_article_img {
    width: 100%;
    height: auto;
  }

  .latest_article_text {
    padding: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title title"
        "text text"
        "meta meta";

    .latest_article_text_title {
      grid-area: title;
      font-size: 2.2rem;
      font-family: $font_article_title;
      font-weight: 700;
      padding: 0.5rem 0 0.5rem 0;
      color: $my_dark_main;
    }

    .latest_article_text_short {
      grid-area: text;
      font-size: 1rem;
      font-family: $font_text;
      color: $my_dark_main;
      padding: 0.8rem 0 0.8rem 0;

    }

    .latest_article_text_meta {
      grid-area: meta;
      padding: 1rem;
      justify-self: end;
      .rubric {
        font-size: 0.8rem;
        font-family: $font_logo_keto;
        font-weight: 700;
        color: $my_light_second;
        padding: 0.2rem;
        border: 2px solid $my_light_second;
        border-radius: 3px;
      }
      .author {
        font-size: 0.8rem;
        font-family: $font_article_title;
        color: $my_dark_main;
        padding: 0.5rem;
      }
    }
  }

}

.latest_recipe {
  grid-area: recipe;
  // background-color: palevioletred;
  border-radius: 10px;
}

// recipe card
.recipe_card_img {
  position: relative;
  border-radius: 0 0 60px 0;
  padding: 0;
  height: fit-content;

  .recipe_card_img_img {
    width: 100%;
    height: auto;
  }

  .recipe_card_image_meta {
    padding: 1rem;
    font-size: 1rem;
    color: white;
    font-family: $font_logo_keto;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &::before {
    content: "";
    background-color: $text-dark;
    // filter: blur(20px);
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    &:hover {
      display: none;
      cursor: pointer;
    }
  }

}

.recipe_card_title {
  padding: 10%;
  // background-color: white;
  // font-family: $font_logo_keto;
  font-family: $font_article_title;
  color: $my_dark_main;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.recipe_card_title_stats {
  // background-color: white;
  padding: 0.3rem 0 0.3rem 0;
  color: $classic-blue;
  font-size: 0.8rem;
  font-family: $font_article_title;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: end;
  span {
    margin-right: 0.3rem;
  }
  i {
    font-size: 0.8rem;
    margin-right: 0;
    padding: 2px 1px 0 2px ;
  }
}

.latest_video {
  grid-area: video;
  // background-color: rebeccapurple;

  .recipe_card_img {
    position: relative;
    padding: 0;
    height: fit-content;

    .recipe_card_img_img {
      width: 100%;
      height: auto;
    }

    .recipe_card_image_meta {
      padding: 1rem;
      font-size: 1rem;
      color: white;
      font-family: $font_logo_keto;
      font-weight: 600;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &::before {
      content: "";
      background-color: $text-dark;
      // filter: blur(20px);
      opacity: 0.6;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      &:hover {
        display: none;
        cursor: pointer;
      }
    }
  }

  .recipe_video_title {
    padding: 1rem 0 1rem 0;
    font-family: $font_article_title;
    color: $my_dark_main;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .recipe_video_tags {
    display: flex;
    flex-direction: row;
    .tag {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: $font_article_title;
      font-weight: 700;
      line-height: 1.5rem;
      color: $my_light_second;
    }
    span {
      padding: 0 0.2rem 0 0.2rem;
      margin: 0 1px;
      // border: 0.5px solid $classic-blue;
      // border-radius: 10px;
    }
  }

}

.latest_topic {
  grid-area: tag;
  // background-color: greenyellow;
  border-radius: 8px;
  border: $my_light_second 3px dashed;
  padding: 2.5rem;
  margin: 0 0 2rem 0;
  p {
    font-size: 1.3rem;
    font-family: $font_article_title;
    font-weight: 700;
    padding: 1rem 0 1rem 0;
    color: $my_dark_main;
  }
  .topic1 {
    border-bottom: $my_light_second 3px dashed;
  }
}

.latest_aside {
  grid-area: aside;
  padding: 0 2rem;
}

.latest_aside_adv {
  margin: 0 0 1rem 0;
  .adv_img {
    width: 100%;
    height: auto;
  }
}

.latest_aside_trends {
  border-radius: 8px;
  border: $my_light_second 3px dashed;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 1.3rem;
    font-family: $font_article_title;
    font-weight: 800;
    padding: 1rem 0 1rem 0;
    color: $my_dark_main;
    text-align: center;
    border-bottom: $my_light_second 3px dashed;
  }
}

.trend_articles {
  display: flex;
  flex-direction: column;
  .trend_article {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.trend_article_img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.trend_article_text {
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  font-family: $font_article_title;
  font-weight: 800;
  color: $my_dark_main;
}

@media screen and (max-width: 1000px) {
  .trend_article_text {
    padding: 0 1rem 0 1rem;
    font-size: 0.8rem;
    font-family: $font_article_title;
    font-weight: 500;
    color: $my_dark_main;
  }
}


.top_recipes {
  background-color: $my_dark_main;
  padding: 1.5rem 0 1.5rem 0;
}

.section_dark_title {
    font-size: 1.3rem;
    font-family: $font_logo_keto;
    font-weight: 700;
    color: white;
    span {
      padding: 0 1rem;
      background-color: $my_light_second;
      margin-right: 0.5rem;
    }
}

.top_recipe_cards_container {
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .top_recipe_card {
    padding: 0.5rem;
    width: 15rem;
    // margin-right: 3rem;
    // background-color: white;
    border-radius: 15px;
    border: 2px white dashed;
    overflow: hidden;
    margin-top: 2rem;

    .top_recipe_card_img {
      position: relative;
      border-radius:  15px  15px 100px 0;
      padding: 0;
      height: fit-content;
    
      .top_recipe_card_img_img {
        width: 100%;
        height: auto;
      }
    
      .top_recipe_card_image_meta {
        padding: 1rem;
        font-size: 2rem;
        color: $tangerine;
        font-family: $font_logo_keto;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

    }
    
    .top_recipe_card_title {
      padding: 10%;
      // font-family: $font_logo_keto;
      font-family: $font_article_title;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
    
    .top_recipe_card_title_stats {
      // background-color: white;
      padding: 0.3rem 0 0.3rem 0;
      color: $my-light-blue;
      font-size: 0.8rem;
      font-family: $font_article_title;
      font-weight: 700;
      line-height: 1.5rem;
      text-align: center;
      span {
        margin-right: 0.3rem;
      }
      i {
        font-size: 0.8rem;
        margin-right: 0;
        padding: 2px 1px 0 2px ;
      }
    }
  }

}

// author section

.top_authors {
  background-color: $my_dark_main;
  padding: 1.5rem 0 1.5rem 0;
}

.top_author_cards_container {
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .top_author_card {
    padding: 0.5rem;
    width: 15rem;
    // margin-right: 3rem;
    // background-color: white;
    border-radius: 15px;
    border: 2px white dashed;
    overflow: hidden;
    margin-top: 2rem;

    .top_author_card_img {
      position: relative;
      border-radius:  15px  15px 0 0;
      padding: 0;
      height: fit-content;
    
      .top_author_card_img_img {
        width: 100%;
        height: auto;
      }
    
      .top_author_card_image_meta {
        padding: 1rem;
        font-size: 1rem;
        color: $tangerine;
        font-family: $font_logo_keto;
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

    }
    
    .top_author_card_title {
      padding: 10%;
      // font-family: $font_logo_keto;
      font-family: $font_article_title;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
    
    .top_author_card_title_stats {
      // background-color: white;
      padding: 0.3rem 0 0.3rem 0;
      color: $my-light-blue;
      font-size: 0.8rem;
      font-family: $font_article_title;
      font-weight: 700;
      line-height: 1.5rem;
      text-align: center;
      span {
        margin-right: 0.3rem;
      }
      i {
        font-size: 0.8rem;
        margin-right: 0;
        padding: 2px 1px 0 2px ;
      }
    }
  }

}